--index-url https://download.pytorch.org/whl/cu124
torch>=2.6.0
torchvision
torchaudio
--index-url https://pypi.org/simple
numpy>=1.24.0,<2.0
matplotlib>=3.7.0
datasets>=2.14.0,<3.0
transformers>=4.35.0,<5.0
fsspec>=2023.9.0,<2024.2.0
huggingface_hub>=0.34.0,<0.35.0
pyarrow>=12.0,<14.0
